---
import Layout from '../../../../layouts/Layout.astro';
import { permsHasOneOf, validateUser } from '../../../../util/authUtils';
import type { Match } from '../../../../util/srlmTypes';
import { SRLMAPIError, srlmGet } from '../../../../util/srlmUtils';
import Page400 from '../../../400.astro';
import Page401 from '../../../401.astro';
import Page403 from '../../../403.astro';
import Page404 from '../../../404.astro';
import Page500 from '../../../500.astro';
import Page503 from '../../../503.astro';

var status = '200';

const userToken = Astro.cookies.get('user_token')?.value || '';
const permsList = ['admin', 'leag_coord', 'leag_comm', 'team_manager'];
const userValidate = await validateUser(userToken, permsList).catch(err => {
    if (err instanceof SRLMAPIError) {
        status = err.code;
    } else {
        status = '500';
    }
	console.error(err);
});

const userElevated = permsHasOneOf(userValidate, ['admin', 'leag_coord', 'leag_comm']);
if (!userElevated && status === '200') {
    status = '403';
}

const { match_id } = Astro.params;

const match: Match = await srlmGet(`/match/${match_id}?cached=false`).catch(err => {
    if (err instanceof SRLMAPIError) {
        status = err.code;
    }
	console.error(err);
});


var errors: {[key:string]:string} = {};

if (Astro.request.method === "POST" && status === "200") {
	const formData = await Astro.request.formData();
	
	/**
        Use this catch block for any Post/Put requests to SRLMAPI to populate the 'errors' var.
        .catch(err => {
            if (err instanceof SRLMAPIError) {
                if (err.code === '409') {
                    err.data.fields.map((err:{field:string, error: string}) => {
                        errors[err.field] = err.error;                
                    })
                } else {
                    status = err.code;
                }
            }
            console.error(err);
        });
        if (resp) {
            return // post/put request was successful, return a redirect or something
        }
	*/

    /**
        Use this code block to access the errors var in the HTML
        {(errors && errors['username']) && (
            <br/>
            <span class="text-red-600 font-bold">
                {errors['username']}
            </span>  
        )}
     */
}

---
{status === '400' &&
	<Page400/>
}
{status === '401' &&
	<Page401/>
}
{status === '403' &&
	<Page403/>
}
{status === '404' &&
	<Page404/>
}
{status === '500' &&
	<Page500/>
}
{status === '503' &&
	<Page503/>
}
{status === '200' &&
	<Layout title="">
		
	</Layout>
}