---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="The Pond">
    <main>
        <h1 class="text-center text-white text-4xl pt-10">Huhhhhh Page not ready yet!</h1>
    </main>
</Layout>