---
import Layout from '../layouts/Layout.astro';
import LocalLogoImage from "../assets/logo.png";
import { Image } from 'astro:assets';
---

<Layout title="500">
	<main class="py-10 grid grid-cols-1 place-items-center gap-4">
        <Image src={LocalLogoImage} alt='OSL Logo' class='lg:w-1/4 lg:aspect-square' width="400" />
		<h1 class="text-white font-bold text-2xl">500 Internal Server Error</h1>
		<p class="text-white">The server had an internal issue and was unable to complete the request. Please try again and if the issue persists, contact an administrator.</p>
	</main>
</Layout>