---
import Layout from "../../../layouts/Layout.astro";
import { permsHasOneOf, validateUser } from "../../../util/authUtils";
import { srlmGet, srlmPost } from "../../../util/srlmUtils";

const userToken = Astro.cookies.get('user_token')?.value;
if (!userToken) {
    return Astro.redirect('/403');
}
const requiredPerms = ['admin', 'leag_coord', 'leag_comm'];
const userValidate = await validateUser(userToken, requiredPerms);

if (userValidate === '503') {
    return Astro.redirect('/503')
}

const user_authorized = permsHasOneOf(userValidate, requiredPerms);

if (!user_authorized) {
    return Astro.redirect('/403');
}

const matchtypes = await srlmGet('/match/type');

var errors = null;

if (Astro.request.method === "POST") {
    const form_data = await Astro.request.formData();
    const inputs = {
        name: form_data.get('name')?.toString(),
        acronym: form_data.get('acronym')?.toString(),
        league: 'osl',
        start_date: form_data.get('start-date')! || null,
        end_date: form_data.get('end-date')! || null,
        finals_start: form_data.get('finals-start-date')! || null,
        finals_end: form_data.get('finals-end-date')! || null,
        match_type: form_data.get('match-type')! || null
    }
    const post_data = await srlmPost('/seasons', '', inputs);
    if (post_data) {
        if (post_data.status && post_data.status === 409) {
            errors = {};
            post_data.data.fields.map(err => {
                errors[err.field] = err.error;                
            })
        } else {
            return Astro.redirect(`/league/seasons/${inputs.acronym}?cached=False`);
        }
    }
}

if (errors) {
    console.log(errors)
}


---
<Layout title="Create Season">
    <main class="py-10 sm:container mx-auto text-white">
        <div class="pt-3 pb-10 mx-auto max-w-96 text-center">
            <form class="mt-5" method="post">
                <script type="text/javascript">
                    function minDate(child, parent) {
                        //@ts-ignore
                        var minDate = document.getElementById(parent).value;
                        document.getElementById(child).setAttribute("min", minDate);
                    }
                </script>
                <h2 class="text-4xl">Create Season</h2>
                <table class="w-full border-spacing-y-1.5 border-separate px-10">
                    <tr>
                        <td class="align-text-top text-left">
                            Name:
                        </td>
                        <td>
                            <input type="text" name="name" id="name" class="text-black indent-2 rounded-sm outline outline-2 outline-gray-400" required />
                            {(errors && errors['name']) && (
                                <br/>
                                <span class="text-red-600 font-bold">
                                    {errors['name']}
                                </span>  
                            )}
                        </td>
                    </tr>
                    <tr>
                        <td class="align-text-top text-left">
                            Acronym:
                        </td>
                        <td>
                            <input type="text" name="acronym" id="acronym" class="text-black indent-2 rounded-sm outline outline-2 outline-gray-400" required />
                            {(errors && errors['acronym']) && (
                                <br/>
                                <span class="text-red-600 font-bold">
                                    {errors['acronym']}
                                </span>  
                            )}
                        </td>
                    </tr>
                    <tr>
                        <td class="align-text-top text-left">
                            Start date:
                        </td>
                        <td>
                            <input type="date" name="start-date" id="start-date" onblur="minDate('end-date', 'start-date')" class="text-black rounded-sm outline outline-2 outline-gray-400" />
                        </td>
                    </tr>
                    <tr>
                        <td class="align-text-top text-left">
                            End date:
                        </td>
                        <td>
                            <input type="date" name="end-date" id="end-date" onblur="minDate('finals-start-date', 'end-date')" class="text-black rounded-sm outline outline-2 outline-gray-400" />
                        </td>
                    </tr>
                    <tr>
                        <td class="align-text-top text-left">
                            Finals start date:
                        </td>
                        <td>
                            <input type="date" name="finals-start-date" id="finals-start-date" onblur="minDate('finals-end-date', 'finals-start-date')" class="text-black rounded-sm outline outline-2 outline-gray-400" />
                        </td>
                    </tr>
                    <tr>
                        <td class="align-text-top text-left">
                            Finals end date:
                        </td>
                        <td>
                            <input type="date" name="finals-end-date" id="finals-end-date" class="text-black rounded-sm outline outline-2 outline-gray-400" />
                        </td>
                    </tr>
                    <tr>
                        <td class="align-text-top text-left">
                            Match type:
                        </td>
                        <td>
                            <select name="match-type" id="match-type" class="text-black rounded-sm outline outline-2 outline-gray-400" required>
                                {
                                    matchtypes.matchtypes.map(type => (
                                        <option title={type.description} value={type.name}>{type.name}</option>
                                    ))
                                }
                            </select>
                        </td>
                    </tr>
                    <tr class="py-5">
                        <td colspan="2">
                            <button class="bg-blue-400 bg-opacity-80 hover:shadow-md hover:bg-opacity-60 duration-200 transition-all text-white font-bold py-2 rounded-md shadow-black w-[80%]">
                                Create Season
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </main>
</Layout>