---
import SignupForm from '../../components/SignupForm';
import Layout from '../../layouts/Layout.astro';

---

<Layout title="Signup">
	<main class="py-10">
        <div class="flex justify-evenly">
            <SignupForm client:load />
        </div>
        <div class="text-center">
            <a href="/auth/login" class="text-white hover:underline opacity-80">Already have an account?</a>
        </div>
	</main>
</Layout>