---
import Header from "../components/Header.tsx";
import Navbar from "../components/Navbar.tsx"
import { validateUser } from "../util/authUtils";

interface Props {
	title: string;
}

const userToken = Astro.cookies.get('user_token')?.value;
const userValidate = await validateUser(userToken, ['admin', 'leag_coord', 'leag_comm'])
var userPerms = []
var userLoggedIn = false;
if (userValidate) {
	if (userValidate.user) {
		userLoggedIn = true;
		for (const [key, value] of Object.entries(userValidate.has_perms)) {
			if (value) {
				userPerms.push(key.toString());
			}
		}
	}
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="The Home of Slapshot: Rebounds Oceanic League" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg?v=1" />
		<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
		<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
		<meta name="generator" content={Astro.generator} />
		<title>OSL | {title}</title>
	</head>
	<body class="bg-neutral-800 bg-no-repeat bg-center bg-fixed">
		<Navbar userLoggedIn={userLoggedIn || false} userPerms={userPerms} client:load />
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
	}
	body {
		background-image: linear-gradient(rgba(35, 35, 35, 0.99), rgba(35, 35, 35, 0.99)), url('../assets/logo.png');
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
